<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Turissini Technologies, LLC - Web Development Consulting</title>
        <link rel="shortcut icon" href="/images/favicon.png" />
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/main.css" type="text/css" />
        {{{head}}}
    </head>
    <body class="{{bodyclass}}">
        <div class="default-l">
            <header id="site-header" class="default-l-header site-header">
                <a href="/">
                    <img class="default-l-logo" width="32" height="32" alt="Turissini Technologies, LLC" src="/images/logo.svg" /><span>Turissini Technologies</span>
                </a>
                <nav class="default-l-header-nav nav nav-horiz">
                    <ul>
                        <li class="nav-item"><a href="#about">About</a></li>
                        <li class="nav-item"><a href="#services">Services</a></li>
                        <li class="nav-item"><a href="#contact">Contact</a></li>
                    </ul>
                </nav>
            </header>
            {{{body}}}
            <footer class="default-l-footer site-footer bg-blue">
                <section class="section section-social">
                    <header class="section-header text-center">
                        <h2 class="section-title">Social</h2>
                        <hr />
                    </header>
                    <ul class="social-links text-center">
                        <li class="social-link">Twitter</li>
                        <li class="social-link">GitHub</li>
                        <li class="social-link">LinkedIn</li>
                    </ul>
                </section>
            </footer>
            {{{footer}}}
        </div>
    </body>
</html>
