<section class="hero">
    <div class="hero-background">
        <img src="/images/corona_arch.jpg" />
    </div>
    <div class="section-content text-center">
        <h1 class="section-title">Web Development</h1>
        <hr />
        <h3 class="section-subtitle">We are industry leaders in web application development. We use the latest technologies and techniques to guarantee our work across all devices and operating systems.</h3>
    </div>
</section>
<section id="about" class="section section-about container">
    <header class="section-header text-center">
        <h2 class="section-title">We build for the web</h2>
        <hr />
    </header>
    <div class="section-content text-center">
        <p class="lead">The web is our passion and we want to bring that passion to your projects! With over 10 years of experience, including working for several large Fortune 500 companies, we are confident that Turissini Technologies, LLC is the best choice for your web development needs. Whether you need a bleeding-edge web application or a beautiful landing page, you will be 100% satisified with the results.</p>
    </div>
</section>
<hr />
<section id="services" class="section section-services container">
    <header class="section-header text-center">
        <h2 class="section-title">Services</h2>
        <hr />
    </header>
    <div class="section-content text-center">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h3>Web Applications</h3>
                <p>We engineer custom web applications using the latest tools of the trade. Our toolbox includes CSS Preprocessors, ReactJS, Babel and AngularJS.</p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h3>Web Sites</h3>
                <p>We build beautiful landing pages that will make your customers wanting more! We have developed a custom in-house library that will really make your page shine against the competition.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h3>Backend Development</h3>
                <p>We build reliable and scalable web services on top of NodeJS and Mongo.</p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h3>Q/A Services and Automation</h3>
                <p>Have an existing product but need some testing automation consulting? We have the tools to build automation against your existing apps that will enable your team to deploy continiously.</p>
            </div>
        </div>
    </div>
</section>
<hr />
<section id="contact" class="section section-contact container-fluid">
    <header class="section-header text-center">
        <h2 class="section-title">Contact</h2>
        <hr />
    </header>
    <div class="section-content text-center">
        <form>

        </form>
    </div>
</section>
