<section id="hero" class="hero">
    <div class="hero-background">
        <img src="/images/corona_arch.jpg" />
    </div>
    <div class="section-content text-center">
        <h1 class="section-title">Technology Come to Life</h1>
        <hr />
        <h3 class="section-subtitle">Turissini Technologies is a full-service development and consulting agency designed to build anything you can think of. Make your products and ideas shine with our development services.</h3>
        <a class="btn btn-primary" href="#contact">Contact Us Now</a>
    </div>
</section>
<section id="about" class="section section-about container">
    <header class="section-header text-center">
        <h2 class="section-title">We build for the web and beyond</h2>
        <hr />
    </header>
    <div class="section-content text-center">
        <p class="lead">The web is our passion and we want to bring that passion to your projects! We are confident that Turissini Technologies is the best choice for your development needs. Whether you need a bleeding-edge web application or a quick and dirty prototype, you will be 100% satisified with the results.</p>
    </div>
</section>
<section id="services" class="section section-services">
    <div class="container">
        <header class="section-header text-center">
            <h2 class="section-title">Services</h2>
            <hr />
        </header>
        <div class="section-content text-center">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h3>Web Applications</h3>
                    <p>We engineer custom full-stack and front-end web applications using the latest tools of the trade. Our toolbox includes MongoDB, Sass, ReactJS, and Babel.</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h3>Web Sites</h3>
                    <p>We build beautiful landing pages that will make your customers wanting more! We have developed custom in-house libraries that will really make your pages pop.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h3>API Development</h3>
                    <p>Bring your ideas to life with our API development experience. We will build your custom APIs so they are blazing fast at internet scale.</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h3>Application Prototyping</h3>
                    <p>Need a quick turnaround for a new proof of concept? Our prototyping services will get you up and running quickly so you can start showcasing your ideas.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="section section-contact container-fluid">
    <header class="section-header text-center">
        <h2 class="section-title">Contact</h2>
        <hr />
    </header>
    <div class="section-content text-center" id="form-contact-container">

    </div>
</section>
