.page-home .hero {
    positin:relative;
    height:100vh;
    z-index:5;
}

.page-home .hero .hero-background {
    background:#000;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    overflow:hidden;
    z-index:5;

}

.page-home .hero .hero-background img {
    height:100%;
    opacity:0.85;
}

.form-contact {
    margin:0 auto;
    max-width:400px;
    text-align:left;
}

.form-contact label {
    color:#b1b1b1;
    font-weight:normal;
    margin-bottom:0;
    padding-right:5px;
    flex-shrink:1;
}

.form-contact select {
    -webkit-appearance:none;
    -moz-appearance:none;
    background: transparent;
    border:0;
    width:100%;
    text-align:left;
    direction:rtl;
}

.form-contact select option {
    direction:ltr;
}

.form-contact select:focus {
    outline:0;
}

.form-contact input {
    border-radius:3px;
    border:0;
    width:100%;
    text-align:right;
}

.form-contact .input-container {
    display:flex;
    padding-bottom:5px;
    margin-bottom:20px;.
}

.form-contact .input-container.text-danger label {
    color:#a94442;
}

.form-contact .input-container.text-danger .input {
    border-color:#a94442;
}

.form-contact .input-container .input {
    flex-grow:1;
    border-bottom:1px solid #e1e1e1;
    text-align:right;
}

.form-contact input[type=submit] {
    border:0;
    text-align:center;
}



.form-contact input:focus {
    outline:none;
}

.page-home .hero .section-content {
    color:rgba(255, 255, 255, 0.95);
    position:absolute;
    top:50%;
    left:0;
    right:0;
    z-index:10;
    transform: translateY(-50%);
}

.page-home .hero .section-title {
    font-size:4.5rem;
    text-transform: uppercase;
    font-weight:bold;
}

.page-home .hero .section-title + hr {
    border-top:0;
    border-bottom:10px solid #ffc700;
    width:100px;
    margin:0 auto;
    padding-top:20px;
    margin-bottom:50px;
}

.page-home .hero .section-subtitle {
    color:#e1e1e1;
    padding:0 30px;
    margin:0 auto 80px;
    max-width:700px;
    line-height:1.3;
}


.page-home .section-services {
    background: #f8f8f8;
}

.page-home .section-services .row {
    margin-bottom:20px;
}

.page-home .section-about hr {
    margin-bottom:40px;
}

@media screen and (min-width:1118px) {
    .page-home .hero .hero-background img {
        width:100%;
        height:auto;
    }
}

@media screen and (max-width:600px) {
    .page-home .hero .hero-background {
        left:-310px;
    }

    .page-home .hero .section-title {
        font-size:4rem;
    }

    .page-home .hero .section-subtitle {
        font-size:2rem;
    }
}

@media screen and (max-width: 768px) {
    .navbar-collapse {
        background:rgba(0, 23, 50, 0.2);
    }
}
