.page-home .hero {
    positin:relative;
    height:100vh;
    z-index:5;
}

.page-home .hero .hero-background {
    background:#000;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    overflow:hidden;
    z-index:5;

}

.page-home .hero .hero-background img {
    height:100%;
    opacity:0.85;
}

@media screen and (min-width:1118px) {
    .page-home .hero .hero-background img {
        width:100%;
        height:auto;
    }
}

.page-home .hero .section-content {
    color:rgba(255, 255, 255, 0.95);
    position:absolute;
    top:50%;
    left:0;
    right:0;
    z-index:10;
    transform: translateY(-50%);
}

.page-home .hero .section-title {
    text-transform: uppercase;
    font-weight:bold;
    font-size:5rem;
}

.page-home .hero .section-title + hr {
    border-top:0;
    border-bottom:10px solid #ffc700;
    width:100px;
    margin:0 auto;
    padding-top:20px;
    margin-bottom:50px;
}

.page-home .section .section-title {
    font-weight:bold;
    color:#333;
    text-transform: uppercase;
    font-size:1.6rem;
}

.page-home .section .section-title + hr {
    border-top:0;
    border-bottom:3px solid #ffc700;
    width:50px;
    margin:0 auto;
    padding-top:20px;
    margin-bottom:50px;
}

.page-home .hero .section-subtitle {
    color:#e1e1e1;
    padding:0 30px;
    margin:0 auto;
    max-width:700px;
}


.page-home .site-header {
    background:rgba(0, 0, 0, 0.6);
    color: #fff;
}

.page-home .section-services .row {
    margin-bottom:20px;
}
