/* http://colorschemedesigner.com/csd-3.5/#3C41Tw0w0--00 */

* {
    box-sizing: border-box;
}

body {
    color:#666;
    font-family: Arial;
    font-size: 16px;
    line-height:1.4;
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

.default-l .default-l-header {
    position:fixed;
    top:0;
    left:0;
    right:0;
    padding:10px;
    z-index:15;
}

.default-l .default-l-logo {
    vertical-align:middle;
    margin-right:10px;
}

.default-l .default-l-header-nav {
    float:right;
    margin-top:5px;
}

.default-l .default-l-header-nav li {
    display:inline-block;
    margin-right:10px;
}

.default-l .default-l-footer {
    padding:10px;
}

.bg-blue {
    background:#001732;
    color:#fff;
}

.btn-primary {
    background:#ffc700;
    border:0;
    box-shadow:0;
}

.btn-primary:hover,
.btn-primary:focus, .btn-primary:active {
    background:#ffc700;
}


.btn-primary:focus:active {
    background:#ff9c00;
    outline:none;
}

.site-header a {
    color:#fff;
}

.bg-blue a, .bg-blue a:active, .bg-blue a:focus {
    color:#fff;
}

.section {
    padding-bottom:10px;
    padding-top:10px;
}

.social-links {
    margin-top:-15px;
}

.social-links .social-link {
    display: inline-block;
    margin:0 10px;
}

.section .section-title {
    font-weight:bold;
    color:#333;
    text-transform: uppercase;
    font-size:1.6rem;
}

.section .section-title + hr {
    border-top:0;
    border-bottom:3px solid #ffc700;
    width:50px;
    margin:0 auto;
    padding-top:20px;
    margin-bottom:50px;
}

.bg-blue .section .section-title {
    color: #fff;
}

.section-legal {
    font-size:0.8em;
    padding:0;
    color:rgba(255, 255, 255, 0.2);
    text-align:right;
}

.section-legal hr {
    margin-bottom:10px;
    border-color:rgba(255, 255, 255, 0.1);
}
